<div class="parent-container">
  <div class="child-container">
    <h2><b>Recipe-Search and Restaurant-Finder!!
    </b></h2>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Enter name of the recipe" type="text">
          <br>
          <input #place class="form-control" placeholder="Enter the location to find" type="text">

        </div>
        <br>
        <button (click)="getVenues()" class="form-button " type="button">Go</button>
      </div>
    </form>
  </div>
</div><br><br>
<!--checking the list length and showing panels based on that-->
<div class="container"  *ngIf="venueList.length >0 && recipeList.length > 0">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Recipe-Procedure</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item recipe-info clearfix">
            <div class="recipe-details">
              <img src="{{recipe.image}}" class="image"/>
              <!--viewing recipe label, recipe url and number of calories-->
              <div class="header">
                <h4 class="list-group-item-heading">{{ recipe.label }}</h4>
                <a href="{{recipe.url}}" class="list-group-item-text">{{ recipe.url }}</a>
                <p class="list-group-item-heading"><strong> Calories: </strong> {{ recipe.calories }}</p>
              </div>
            </div>
            <ul class="ingredients-list">
              <h4>Ingredients:</h4>
              <li *ngFor="let ingredientLine of recipe.ingredientLines">{{ingredientLine}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>NearBy Locations</b></div>
        <div class="panel-body">

          <div *ngFor="let venue of venueList" class="list-group-item venue-info clearfix">
            <div class="venue-details">
              <div class="header">
                <h4 class="list-group-item-heading"><strong>{{ venue.name }}</strong></h4>
              </div>
              <div class="map-icon">
                <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}&daddr={{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}">
                  <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
              </div>
            </div>
            <!--viewing street, city , country from address-->
            <div class="address">
              <p><strong>Street : </strong> {{venue.location.formattedAddress[0]}}</p>
              <p><strong>City : </strong>{{venue.location.formattedAddress[1]}}</p>
              <p><strong>Country : </strong>{{venue.location.formattedAddress[2]}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



