.header {
  color: crimson;
  text-align: center;
}
/* .bg-image {
  background-image: url("https://lh3.googleusercontent.com/proxy/bRLVWOmlWC8ZaCFswi02igHgoVyaFn1zC2Rmurvwp5zdxFyFsox4FqUS-U-MriGHigfcHUqeyQU34x8LfM9olGaA6rWtfd3QkTUU4gHPnehRDU0");
} */

/*// "start": "ng build && node ./bin/www",*/
