

<form>
  <div class="form-group">
    <h2><b>Contact Here!!....</b></h2>
    <div class="form-group col-lg-6 col-lg-offset-3 input-group">
      <input #recipe class="form-control" placeholder="Enter your name" type="text">
      <br>
      <input #place class="form-control" placeholder="Enter your email" type="text">
      <br>
      <input #place class="form-control" placeholder="Type you question here" type="textarea">
    </div>
    
    <button class="form-button " type="button">Go</button>
  </div>
</form>